@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #2EC4B6;
  --primary-hover: #27A89D;
  --primary-light: #D8F7F3;
  --primary-lighter: #A5EFE7;
  --primary-dark: #1B7F75;

  --surface: #f4fbfa;
  --surface-light: #f9fefe;
  --surface-accent: #e6fffb;

  --border: #d7f3ef;
  --border-light: #e0f4f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-dark: var(--primary-dark);
  --color-surface: var(--surface);
  --color-surface-light: var(--surface-light);
  --color-surface-accent: var(--surface-accent);
  --color-border: var(--border);
  --color-border-light: var(--border-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
